<section class="flex center card">
    <div>
        <% let day = new Date((data.parkData.locations[0].forecasts[idx].time * 1000)); 
        let weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']%>
      <h2><%= weekdays[day.getDay()] %></h2>
      <section class="flex-row">
        <div class="flex <%= data.parkData.locations[0].forecasts[idx].moonPhase %>">
          <h3>Moonphase</h3>
          <!-- <i class="fas fa-moon fa-2x"></i> -->
        </div>
        <div class="flex <%= data.parkData.locations[0].forecasts[idx].icon %>">
          <h3>Weather</h3>
          
        </div>
      </section>
      <div class="flex"><h2>Outlook</h2><i class="fas fa-meh fa-2x"></i><p>meh</p></div>
    </div>
  </section>