<nav>
    <ul>
      <div class="logo-container">
      <li><i class="fas fa-meteor fa-2x fa-rotate-180"></i><i class="wi wi-stars"></i></li>
      <li class="logo-title">StarChaser</li>
      </div>
      <li><i class="fas fa-bars fa-2x"></i></li>
    </ul>
  </nav>