<nav>
    <ul>
      <div class="logo-container">
        <li>
            <a id="logo-text" href="/">
             <img id="logo-image" src="assets/svg/stars-logo.png" style="width: 30px">
             <li class="logo-title">StarChaser</li>
            </a>
      </div>
      <li>
        <i class="fas fa-bars fa-2x hide"></i>
        <i class="fas fa-times fa-2x"></i>
      </li>
    </ul>
    <ul id="menu" class="hide flex learn-detail">
      <li><a href="/new">Add a New Park</a></li>
      <li><a href="/parks">View All Parks</a></li>
      <li><a href="/nasa">NASA's Image of the Day</a></li>
      <li><a href="/about">About Us</a></li>

    </ul>
  </nav>