<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
    <body>
        <%- include('../partials/header.ejs'); %>
        <main class = "team flex">
            <h2 id = "intro" >Meet our Dev team!</h2>
                <div class = "person card">
                    <img src = "https://cdn4.vectorstock.com/i/1000x1000/37/83/capricorn-zodiac-sign-stars-on-the-cosmic-sky-vector-11233783.jpg">
                    <div class = "description">
                        <h4>Eric Huang</h4>
                        <p>
                                Lorem ipsum.
                        </p>
                    </div>
                </div>
                <div class = "person card">
                        <img src = "https://cdn1.vectorstock.com/i/1000x1000/47/15/leo-astrology-constellation-of-the-zodiac-vector-18924715.jpg">
                        <div class = "description">
                            <h4>Gina Pultrak</h4>
                            <p>
                                    Lorem ipsum.
                            </p>
                        </div>
                </div>
                <div class = "person card">
                        <img src = "https://cdn1.vectorstock.com/i/1000x1000/47/15/leo-astrology-constellation-of-the-zodiac-vector-18924715.jpg">
                        <div class = "description">
                            <h4>Hanna Alemu</h4>
                            <p>
                                    Lorem ipsum.
                            </p>
                        </div>
                </div>
                <div class = "person card" >
                        <img src = "https://thumbs.dreamstime.com/b/virgo-astrology-constellation-zodiac-sign-against-background-starry-sky-95902836.jpg">
                        <div class = "description">
                            <h4>Jessica Walters</h4>
                            <p>
                                Lorem ipsum.
                            </p>
                        </div>
                </div>
        </main>  
    </body>
</html>