<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
    <body>
        <%- include('../partials/header.ejs'); %>
        <h1 id="intro" class="title" >Meet our Dev team!</h1>
        <main class = "team all-park-card flex">
                <div class = "all-park-card-wrapper">
                        <h2>Eric Huang</h2>
                    <img class="image-container" src = "assets/1.png">
                    <div class = "description">
                        <p>
                                I'm a Nasa Rocket Scientist.  I rescue abandoned bunnies and speak 7 languages fluently.
                        </p>
                    </div>
                </div>
                <div class = "all-park-card-wrapper">
                            <h2>Gina Pultorak</h2>
                        <img class="image-container" src = "assets/2.png">
                        <div class = "description">
                            <p>
                                    I have a PhD in Astro Physics. I personally saved an Orca from certain death from being caught in a fishing net.  I'm a concert level harpist. 
                            </p>
                        </div>
                </div>
                <div class = "all-park-card-wrapper">
                            <h2>Hanna Alemu</h2>
                        <img class="image-container" src = "assets/3.png">
                        <div class = "description">
                            <p>
                                    I'm an Aerospace Engineer and designed the latest update to the hubble telescope.  I'm also a black-belt in Karate and teach martial arts to kids. 
                            </p>
                        </div>
                </div>
                <div class = "all-park-card-wrapper" >
                            <h2>Jessica Walters</h2>
                        <img class="image-container" src = "assets/4.png">
                        <div class = "description">
                            <p>
                                    I like dogs, power tools, and playing in the woods.  Sometimes I write code.
                            </p>
                        </div>
                </div>
        </main>  
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/js/app.js"></script>
    </body>
</html>