<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
    <body>
        <%- include('../partials/header.ejs'); %>
        <main class = "team flex">
            <h2 id = "intro" >Meet our Dev team!</h2>
                <div class = "person card">
                    <img src = "assets/1.png">
                    <div class = "description">
                        <h4>Eric Huang</h4>
                        <p>
                                Lorem ipsum.
                        </p>
                    </div>
                </div>
                <div class = "person card">
                        <img src = "assets/2.png">
                        <div class = "description">
                            <h4>Gina Pultorak</h4>
                            <p>
                                    Leo. Originally from Philly. Loves stargazing, coding, and music. 
                            </p>
                        </div>
                </div>
                <div class = "person card">
                        <img src = "assets/3.png">
                        <div class = "description">
                            <h4>Hanna Alemu</h4>
                            <p>
                                    Lorem ipsum.
                            </p>
                        </div>
                </div>
                <div class = "person card" >
                        <img src = "assets/4.png">
                        <div class = "description">
                            <h4>Jessica Walters</h4>
                            <p>
                                I like dogs, power tools, and playing in the woods.  Sometimes I write code.

                            </p>
                        </div>
                </div>
        </main>  
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/js/app.js"></script>
    </body>
</html>