<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
<body>
  <%- include('../partials/header.ejs'); %>

  <main class="flex vertical-align">
    <section class="flex center">
      <h2>All Parks</h2>
    </section>

    <div>
    <%- include('../partials/all-park-card.ejs'); %>
    </div>

  </main>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</body>
</html>