<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>

<body>
  <%- include('../partials/header.ejs'); %>
  <main>
    <div class="flex">
    <form class="location-form" action="/" method="POST">
      <input type="text" name="search" placeholder="Where are you?" required>
      <button class="hide" type="submit">Submit</button>
    </form>
    </div>
  </main>


  <footer>
  
  </footer>

    
</body>
</html>