<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>

<body>
  <%- include('../partials/header.ejs'); %>
  <main>
    <div class="flex">
    <form class="location-form" action="/" method="POST">
      <input type="text" name="search" placeholder="Where are you?" required>
      <button class="hide" type="submit">Submit</button>
    </form>
    </div>
  </main>


  <footer>
  
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</body>
</html>