<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>

<body>
  <%- include('../partials/header.ejs'); %>
  <main>
    <div class="flex new-park">
    <form action="/new" method="POST">
      <label for="park-name">
        <input id="park-name" type="text" name="search" placeholder="Park Name" required>
      </label>
      <label for="image_url">
        <input id="image_url" type="text" name="img_url" placeholder="Image URL" required>
      </label>
      <label for="park_url">
        <input id="park_url" type="text" name="learn_more_url" placeholder="Park Info URL">
      </label>
       <button class="new-park-button" type="submit">Add New Park</button>
    </form>
    </div>
  </main>


  <footer>
  
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</body>
</html>