<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/modules.css">
  <link rel="stylesheet" href="styles/weather-icons.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
  
  <title>Document</title>
</head>
<body>
  <nav>
      <ul>
        <div class="logo-container">
        <li><i class="fas fa-meteor fa-2x"></i><i class="wi wi-stars"></i></li>
        <li class="logo-title">StarChaser</li>
        </div>
        <li><i class="fas fa-bars fa-2x"></i></li>
      </ul>
    </nav>

  <main class="flex vertical-align">
    <section class="flex center">
      <h3>StarChasing Outlook for:</h3>
      <h2>The Hoh Rainforest</h2>
    </section>

    <section class="flex center card">
      <div>
        <h2>Tuesday</h2>
        <section class="flex-row">
          <div class="flex"><h3>Moonphase</h3><i class="fas fa-moon fa-2x"></i></div>
          <div class="flex"><h3>Weather</h3><i class="fas fa-cloud fa-2x"></i></div>
        </section>
        <div class="flex"><h2>Outlook</h2><i class="fas fa-meh fa-2x"></i><p>meh</p></div>
      </div>
    </section>
  </main>

  
</body>
</html>