

@media screen and (min-width: 200px) {

  body {
    width: 90%;
    color: #F5F1F1;
    font-family: 'Dosis', sans-serif;
    background-image: url('../assets/star-background.jpg');
    background-size: 500px;
    background-repeat: repeat;
    background-position: center;
    margin: auto;
  } 
  #home {
    background-image: url('../assets/home-background.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1{
    font-size: 2em;
  }

/* Navigation */

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
  }

  nav {
    width: 100%;
    background-color: rgb(9,13,13);
    border-bottom: solid .1em rgb(255, 255, 255, .3);
    color: #F5F1F1;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 3%;
    padding-bottom: 4%;
    z-index: 10;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  #logo-text {
    text-decoration: none;
    color: #FFFFFF;
  }

  .logo-title {
    padding-left: 10%;
    font-size: 1.5em;
  }

  #menu li {
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #menu li:hover {
    cursor: pointer;
    background-color: #1F2323;
  }

  /*Layout*/

  .flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .flex-row {
    align-items: center;
  }

  .hide {
    display: none;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .vertical-align {
    margin-top: 25%;
  }

  /*home page*/

  .location-form {
    width: 70%;
    margin-top: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #C7C8D0;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    width: 100%;
    color: white;
  }

  ::placeholder {
    color:white;
    opacity: 1;
  }

  input:focus {
    outline: none;
  }

   /*About Us*/
  .team{
    margin-top: 40%;
  }
  #intro{
    margin:auto;
    margin-bottom: 10%;
  }

  .person{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding:5%;
    margin-bottom: 5%;
    
  }
  .person > img{
    width: 30%;
    height:30%;
    margin-right:20%;

  }
  .person > h4{
  margin:auto;
  padding-top: 10%;
  }
  .description > p {
    font-size: 50%;
  }

  
  /*Add New Park*/

  #park-name{
    margin-bottom: 5%;
  }
  #image_url{
    margin-bottom: 5%;
  }
  #park_url{
    margin-bottom: 5%;
  }


  /* Add New Park Page */

  .new-park-button {
    font-family: 'Dosis', sans-serif;
    padding: 5%;
    border: none;
    background: #000000;
    color: #f5f1f1;
    font-size: 1.3em;
    border: solid 1px rgb(255, 255, 255, .3);
    margin-top: 10%;
  }

  .new-park {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
  }

}
